---
layout: default
title: join us
categories:
 - join
---

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  </div>
  <div class="col-md-1"></div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>Open positions</h2>
    <ul>
      {% for position in site.categories.join %}
      <li><a href="{{ position.url }}" class="off">{{ position.title }} {% if position.subtitle %}({{ position.subtitle }}){% endif %}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>
